.ServiceBlock-wrapper{
    border-color: #292859;
}

.ServiceBlock-wrapper h1{
    font-size: 54px;
    line-height: 80px;
    margin-bottom: 14px;
}

.ServiceBlock-wrapper .subtitle{
    font-size: 30px;
    line-height: 40px;
}

.ServiceBlock-wrapper .content{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

@media (max-width:480px){
    .ServiceBlock-wrapper{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-top: 1rem;
    }


    .ServiceBlock-wrapper h1{
        font-size: 46px;
        margin-bottom: 0px;
        text-align: center;

    }

    

    .ServiceBlock-wrapper .subtitle{
        font-size: 28px;
        text-align: center;
    }

    .ServiceBlock-wrapper .content{
        text-align: justify;
        font-size: 18px;
    }
}