.LendIdeaToWorld-wrapper h1{
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 1px;
   
}

.bg-test-img{
    background-color: gray;
}

.img-main-screen{
    width: 95%;
    padding-right: 30px;
}

@media (max-width: 480px) {
  .LendIdeaToWorld-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .LendIdeaToWorld-wrapper .img-main-screen{
    width: 100%;
    height: 70%;
    padding-right: 0px;
  }

  .LendIdeaToWorld-wrapper .res-7-12{
    width: 80%;
  }

  .LendIdeaToWorld-wrapper .res-6-12{
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;

  }

  .LendIdeaToWorld-wrapper .res-9-12{
    width: 100%;
  }

  .LendIdeaToWorld-wrapper .res-p{
    width: 80%;
    margin-top: -8px;
    line-height: 25px;
    font-size: 13px;
    
  }

  .LendIdeaToWorld-wrapper .res-items-center{
    align-items: center;
  }

  .LendIdeaToWorld-wrapper .h1-responsive{
    font-size: 40px;
    text-align: center;
  }

  .LendIdeaToWorld-wrapper p{
    font-size: 13px;
    margin-top: 15px;
    text-align: justify;
  }

  .LendIdeaToWorld-wrapper .btn-section{
    display:  flex;
    justify-content: center;
    margin: auto;
    font-size: 13px ;
  }
}