.LendIdeaToWorld-wrapper h1{
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 1px;
   
}

.bg-test-img{
    background-color: gray;
}

.img-main-screen{
    width: 95%;
    padding-right: 30px;
}