.line-hr{
    border: 2px solid #292859;
}

.text-content h3{
    line-height: 1.4;
}

@media (max-width:480px){
    /*ver 1*/
    .ProjectDetailVer1-wrapper {
        padding-top: 0px;
    }

    .ProjectDetailVer1-wrapper .res-flex{
        display: flex;
        flex-direction: column;
    }

    .ProjectDetailVer1-wrapper .res-p{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
    }

    .ProjectDetailVer1-wrapper .res-p  .res-full{
        width: 100%;
    }

    .ProjectDetailVer1-wrapper .res-p  .res-full p{
        text-align: justify;
    }

    .ProjectDetailVer1-wrapper .res-p  .res-full h3{
        font-size: 28px;
        width: 100%;
        text-align: center;    
        margin-bottom: 10px;
    }

    .ProjectDetailVer1-wrapper .res-center{
        align-items: center;
    }

    .ProjectDetailVer1-wrapper .res-gap{
        gap: 20px;
    }

    .ProjectDetailVer1-wrapper .res-mt-20{
        margin-top: 15px;
    }

   

    .ProjectDetailVer1-wrapper .res-gap-10{
        gap: 10px;
    }

    .ProjectDetailVer1-wrapper .switch h3{
        font-size: 18px;
    }

    .ProjectDetailVer1-wrapper .switch .res-px{
        padding-right: 20px;
        padding-left: 20px;
    }

    .ProjectDetailVer1-wrapper .res-p .res-full  .res-text-center{
        text-align: center;
    }

   


    /*ver 2*/
    .ProjectDetailVer2-wrapper{
        flex-direction: column;
    }

    .ProjectDetailVer2-wrapper .res-full{
        width: 100%;
    }

    .ProjectDetailVer2-wrapper .child:nth-child(1){
        order: 2;
    }

    .ProjectDetailVer2-wrapper .child:nth-child(2){
        order: 1;
    }

    .ProjectDetailVer2-wrapper .res-jus-center{
        justify-content: center;
    }

    .ProjectDetailVer2-wrapper .res-px{
        padding-left: 20px;
        padding-right: 20px;
    }

    .switch h3{
        font-size: 18px;
    }

     .switch .res-px{
        padding-right: 20px;
        padding-left: 20px;
    }


    .switch .res-px{
        padding-left: 20px;
        padding-right: 20px;

    }


    


}