.software-img{

    height: 280px;
}

.keyword-img{
   
    height: 300px;
}

@media (max-width: 480px) {
    .Portfolio-wrapper{

    } 

    .Portfolio-wrapper .res-center{
        text-align: center;
    }

    .Portfolio-wrapper .res-justify{
        text-align: justify;

    }

    .Portfolio-wrapper .first-info{
        flex-direction: column;
    }

    .Portfolio-wrapper .first-info .res-full{
        width: 100%;
    }

    .Portfolio-wrapper .res-flex{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .Portfolio-wrapper .res-mt-10 {
        margin-top: 28px;
    }

    .Portfolio-wrapper .keyword-img , .Portfolio-wrapper .software-img{
        height: auto;
    }

    .Portfolio-wrapper .keyword-img{
        margin-top: 10px;
    }

    .Portfolio-wrapper .res-hidden{
        display: none;
    }

    .Portfolio-wrapper .margin-bottom{
        margin-bottom: 30px;
    }
}