.GalleryLayout-wrapper{
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    gap: 30px; 
}

.gallery-items{
    height: 500px;
    width: 500px;
    margin: auto;
}

.item-hover:hover{
    animation: 0.5s motion;
    margin-top: -10px;
}

.bright{
    filter: brightness(0.5);
}

.trans-test{
    background-color: rgba(41, 40, 89, 0.6);
}


@keyframes motion{
    0% {
        /* Styles at the start of the animation */
        margin-top: 0px;
      }
      100% {
        /* Styles at the end of the animation */
        margin-top: -10px;
      }
}