.GalleryLayout-wrapper{
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    gap: 30px; 
}

.gallery-items{
    height: 500px;
    width: 500px;
    margin: auto;
}

.bright{
    filter: brightness(0.5);
}

.trans-test{
    background-color: rgba(41, 40, 89, 0.6);
}

.gallery-items:hover{
    margin-top: -10px;
    transition: 1.2s ease-in-out;
}