@media (max-width: 480px) {
    .Contactscreen-wrapper h4{
        padding-right: 20px;
        padding-left: 20px;
        font-size: 18px;
        text-align: justify;
    }

    .Contactscreen-wrapper form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Contactscreen-wrapper form .res-flex{
        display: flex;
        flex-direction: column;
        
    }

    .res-pb{
        padding-bottom: 30px;
    }

}

