@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: Regular;
}

@font-face{
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: Regular;
}

@font-face{
  font-family: 'Missing-Love';
  src: url('./assets/fonts/Missing-Lovely-Regular.otf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
}


/*Biến mã màu*/
:root {
  --layout-background: #F5F5F5;
  --primary-color:#292859;
  --secondary-color:#ff8dc8
}

/*class về font chữ*/
.text-poppins{
  font-family: 'Poppins';
}

.text-gilroy-bold{
  font-family:'Gilroy-Bold' ;
}

.text-missing-love{
  font-family: 'Missing-Love';
}

.text-gilroy{
  font-family: 'Gilroy';
}

/*class về size chữ*/
.font-32px{
  font-size: 32px;
  line-height: 25px;
}

/*class về mã màu text*/
.text-primary{
  color: var(--primary-color);
}

.text-secondary{
  color: var(--secondary-color);
}

/*Class về mã màu border */
.border-primary{
  border-color: var(--primary-color);
}

/*class về background*/
.bg-main{
  background-color: var(--layout-background);
}

.bg-primary{
  background-color: var(--primary-color);
}

.grey-bg{
  background-color: grey;
}

/*class về layout*/
.wrapper{
  width: 82%;
}

.block-item{
  width: 400px;
  height: 450px;

}


/*class về độ dài*/
.h-1000{
  height: 1000px;
}

.h-800{
  height: 800px;
}

.h-600{
  height: 600px;
}

.h-700{
  height: 700px;
}
